# Author: Bell (bell@softbell.net)
# Bell Soft Network Infra 전용 CI/CD 파이프라인 정의
#
# [필수 구성 변수]
# - KUBE_CONTEXT: {KAS 가 연결된 깃랩 repo 주소}:{에이전트명} (ex. BSN/bsn-primary-agent:primary-agent})
# - KUBE_NAMESPACE: kubernetes 배포에 사용할 기본 네임스페이스 (각 환경 별 설정 필요)
# - KUBE_INGRESS_BASE_DOMAIN: kubernetes 내 ingress 에 등록할 도메인 (각 환경 별 설정 필요)
# - PROJECT_NAME: kubernetes 내 ingress rule 에 등록할 프로젝트 이름 (백엔드와 프론트엔드 동일하게 설정 필요, 소문자 및 - 만 허용)
#    (ex. 백엔드와 프론트엔드에 동일하게 `bell-safe-house` 로 설정)
#
#
# [설정 가능한 변수]
# - GRADLE_VERSION: gradle 버전
# - NODE_VERSION: node 버전
# - TEST_DISABLED: 테스트 비활성 (값 설정 시)
# - BUILD_DISABLED: 빌드 비활성 (값 설정 시)
# - DEPLOY_DISABLED: 배포 비활성 (값 설정 시)
# - CODE_QUALITY_DISABLED: 코드 퀄리티 측정 비활성 (값 설정 시)

variables:
  GRADLE_VERSION: 7.5.0-jdk17
  NODE_VERSION: 22
  JACOCO2COBERTURA_VERSION: 1.0.11
  # Docker 이미지 태그 패턴 설정
  API_CORE_IMAGE: $CI_REGISTRY_IMAGE/api-core
  API_LEGACY_IMAGE: $CI_REGISTRY_IMAGE/api-legacy
  FRONTEND_IMAGE: $CI_REGISTRY_IMAGE/frontend-web

stages:
  - dependencies  # 의존성 설치 및 캐시 생성
  - test
  - build
  - deploy
  - cleanup

# 파일 변경 감지를 위한 전역 규칙
.only-api-core: &only-api-core
  changes:
    - apps/api-core/**/*
    - .gitlab-ci.yml
    - .gitlab/ci/apps/api-core.gitlab-ci.yaml

.only-api-legacy: &only-api-legacy
  changes:
    - apps/api-legacy/**/*
    - .gitlab-ci.yml
    - .gitlab/ci/apps/api-legacy.gitlab-ci.yaml

.only-frontend: &only-frontend
  changes:
    - apps/frontend-web/**/*
    - .gitlab-ci.yml
    - .gitlab/ci/apps/frontend-web.gitlab-ci.yaml

include:
  # 공통 템플릿
  - local: /.gitlab/ci/jobs/templates/default.gitlab-ci.yaml # 기본 설정 (retry, interruptible)
  - local: /.gitlab/ci/jobs/templates/common.gitlab-ci.yaml # 공통 구성 요소 (DB, Docker, 캐시)
  - local: /.gitlab/ci/jobs/templates/docker.gitlab-ci.yaml # Docker 관련 템플릿
  # 개별 앱 CI 구성
  - local: /.gitlab/ci/apps/api-core.gitlab-ci.yaml
  - local: /.gitlab/ci/apps/api-legacy.gitlab-ci.yaml
  - local: /.gitlab/ci/apps/frontend-web.gitlab-ci.yaml
  # 통합 배포 구성
  - local: /.gitlab/ci/jobs/deploy.gitlab-ci.yaml
  - template: Workflows/MergeRequest-Pipelines.gitlab-ci.yml # https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Workflows/MergeRequest-Pipelines.gitlab-ci.yml
