apiVersion: v1
kind: Service
metadata:
  name: api-core
  labels:
    app.kubernetes.io/component: api-core
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: nlb
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
  selector:
    app.kubernetes.io/component: api-core